---
import { Icon } from 'astro-icon/components';

interface Props {
  id?: string;
  clases?: string;
  conBorde?: boolean;
  redondo?: boolean;
  sombra?: boolean;
  tema?: string;
  url: string;
  texto?: string;
  target?: string;
  icono?: string;
}
const { clases, conBorde, redondo, sombra, tema, url, texto, icono,  ...rest } = Astro.props;
---

<a
  href={url}
  class:list={["btn", clases, tema, { "con-borde": conBorde, "redondo": redondo, "sombra": sombra }]}
  {...rest}>
  {icono && <Icon name={icono} size={22} />}
 {texto}
</a>

<style lang="scss">
  @use "../../estilos/bodas/_variables.scss" as *;

  @mixin liga($conBorde, $redondo) {
  margin: $margen-min 0;
  color: var(--primario);
  background: var(--terciario);
  padding: .7rem $margen-cel;
  svg {
    vertical-align: middle;
  }
  @if $conBorde {
    border: 1px solid var(--acento);
    background: var(--secundario);
    opacity: 0.8;
    color: var(--primario)!important;
  }
  @if $redondo {
    border-radius: $radio;
  }
}

.btn {
  @include liga(false, false);
}
.con-borde {
  @include liga(true, null);
}
.redondo{
  @include liga(null, true);
}

</style>