---
interface Props {
    texto: string;
    claro: boolean;
    clases?: string;
    id?: string;
}
const {  texto, claro, clases, ...rest } = Astro.props;
---


<button class:list= {clases}  {...rest} set:html={texto}>
    <slot />
</button>



<style lang="scss">
    @import '../../estilos/_variables.scss';
    @mixin btn {
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        vertical-align: middle;
       
       
        @include cel {
            margin-top: $margen-min;
            text-align: center;
            width: max-content;
        }
    }
    .btn-claro {
        @include btn;
        color: var(--primario);
        border: 1px solid var(--primario);
        font-weight: 700;
    }
    .btn-oscuro {
        @include btn;
        background-color: var(--acento);
        color: white;
        font-weight: 700;
    }

</style>