---
interface Props {
  liga: string;
  texto: string;
  claro: boolean;
  blank?: boolean;
  clases?: string;
  neumorfismo?: boolean;
  id?: string;
  rel?: string;
}
const { liga, texto, claro, blank, clases, neumorfismo, rel, ...rest } =
  Astro.props;
---

<a
  href={liga}
  class:list={[clases, { "btn-neumorfismo": neumorfismo }]}
  target={blank ? "_blank" : ""}
  {...rest}
  rel={rel}
  set:html={texto}
>
  <slot />
</a>

<style lang="scss">
  @use "../../estilos/bodas/_variables.scss" as *;
  @mixin btn {
    padding: 8px 15px;
    display: inline-flex; // Cambiado de inline-block a inline-flex
    align-items: center; // Centrar verticalmente
    justify-content: center;
    gap: 0.5rem; // Espacio entre icono y texto
    text-decoration: none;
    border-radius: 5px;
    margin: $margen-min 0;
    border: none;
    font-weight: 600;
    @include cel {
      margin-top: $margen-min;
      width: max-content;
    }
  }
  .btn-claro {
    background-color: var(--primario);
    color: var(--acento);
    @include btn;
  }
  .btn-oscuro {
    background-color: var(--acento);
    color: white;
    @include btn;
  }
  .btn-bordes {
    border: 1px solid var(--secundario) !important;
    color: var(--secundario);
    @include btn;
  }
  .btn-neumorfismo {
    background-color: var(--acento);
    /* Gradiente cóncavo de oscuro a transparente/claro */
    background-image: linear-gradient(
      145deg,
      rgba(0, 0, 0, 0.1) 0%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 100%
    );
    color: white !important;
    border: none;
    border-radius: 12px;
    box-shadow:
      6px 6px 12px rgba(0, 0, 0, 0.15),
      -6px -6px 12px rgba(255, 255, 255, 0.7);
    @include btn;
  }
</style>
