---
interface IProps {
  base: string;
}
const { base } = Astro.props;
---

<footer>
  <p>Invitación desarrollada y diseñada por:</p>
  <a href="https://nvitaciones.com" target="_blank">
    <img
      src=`/nvita-logo.svg`
      alt="invitaciones digitales para bodas, quince años y eventos"
      class="logo"
    />
  </a>
  <p>© 2022 - {new Date().getFullYear()} Todos los derechos reservados</p>
</footer>


