---
interface Props {
  mama?: string;
  papa?: string;
  fotopapas?: string;
}

const { mama, papa, fotopapas } = Astro.props;
---

<div id="padres">
  <div class="bande">
    <span>CON LA BENDICIÓN DE</span>
    <div class="conte">
      <ul class="padre">
        {
          mama && (
            <li>
              <h3>Mi Madre</h3>
              {mama}
            </li>
          )
        }
        {
          papa && (
            <li>
              <h3>Mi Padre</h3>
              {papa}
            </li>
          )
        }
        {
          fotopapas ? (
            <div class="padre">
              <img src={fotopapas} alt="Foto de los padres de la quinceañera" />
            </div>
          ) : (
            ""
          )
        }
      </ul>
    </div>
  </div>
</div>
