@mixin base() {
  --primario: rgb(87, 102, 129);
  --secundario: rgb(131, 102, 153);
  --terciario: rgb(252, 247, 238);
  --acento: rgba(245, 131, 154, 1);
  --gris: rgb(142, 117, 168);
  --sombra: rgba(151, 122, 79, 0.5);
  --fondoBurn: #fef1f1;
}

