@mixin invierno() {
    --primario: rgb(156, 101, 196);
    --secundario: rgb(183, 143, 105);
    --terciario: rgb(249, 243, 243);
    --acento: rgb(94, 153, 201);
    --gris: rgb(120, 87, 137);
    --sombra: rgba(117, 118, 143, 0.5);
  }