@mixin invierno() {
  --primario: #304863;
  --secundario: #66899c;
  --terciario: #e8e1d6;
  --acento: #6d99ad;
  --gris: #212323;
  --fondo: #dce9e9;
  --sombra: rgba(122, 132, 140, 0.5);
  --fondoBurn: #fef1f1;
  }