@mixin invierno() {
    --primario: rgb(156, 101, 196);
    --secundario: rgb(183, 143, 105);
    --terciario: rgb(249, 243, 243);
    --acento: rgba(94, 153, 201, 1);
    --gris: rgb(120, 87, 137);
    --sombra: rgba(117, 118, 143, 0.5);
    --fondoBurn: #fef1f1;
  }