@mixin otono() {
    --primario: rgb(94, 69, 131);
    --secundario: rgb(120, 141, 150);
    --terciario: rgb(249, 243, 243);
    --acento: rgba(230, 142, 120, 1);
    --gris: rgb(120, 87, 137);
    --sombra: rgba(202, 175, 131, 0.5);
    --fondoBurn: #fef1f1;
  }