@mixin otono-quince() {
    --primario: rgb(109, 72, 128);
    --primario-rgb: 109, 72, 128;
    --secundario: rgb(170, 123, 107);
    --secundario-rgb: 170, 123, 107;
    --terciario: rgb(227, 214, 205);
    --terciario-rgb: 227, 214, 205;
    --acento: rgb(203, 101, 142);
    --acento-rgb: 203, 101, 142;
    --gris: rgb(120, 103, 119);
    --gris-rgb: 120, 103, 119;
    --sombra: rgba(109, 72, 128, 0.08);
    --sombra-rgb: 109, 72, 128;
    --fondoBurn: #FBF6F4;
    --fondoBurn-rgb: 251, 246, 244;
  }