@mixin verano-quince() {
  --primario: rgb(120, 96, 73);
  --secundario: rgb(172, 99, 68);
  --terciario: rgb(255, 250, 240);
  --acento: rgb(254, 96, 91);
  --gris: rgb(127, 140, 141);
  --sombra: rgba(154, 90, 78, 0.643);
  --fondoBurn: #fef8e7;
}
