@mixin verano() {
  --primario: rgb(120, 96, 73);
  --secundario: rgb(172, 71, 68);
  --terciario: rgb(255, 250, 240);
  --acento: rgb(254, 96, 91);
  --gris: rgb(127, 140, 141);
  --sombra: rgba(121, 48, 35, 0.5);
  --fondoBurn: #fef8e7;
}
