---
import { Icon } from "astro-icon/components";
import Boton from "../comunes/Boton.astro";
import Btn from "../Btn.astro";

interface Props {
  tipo: string;
  ruta: string;
  nombreEvento?: string | null;
}
const { tipo, ruta, nombreEvento } = Astro.props;
---

<nav>
  <ul>
    <a href={Astro.url.origin}
      ><img src="/nvita-logo.svg" alt="nvitaciones" id="logo" /></a
    >
    <li>      
      {nombreEvento ? nombreEvento : `${tipo} de ${ruta}`}
      <form data-authForm action="../api/salir.json" method="POST">
        <button type="submit" class="btn-claro">
          <Icon name="mdi:logout" size={20} /> Salir
        </button>
      </form>
    </li>
  </ul>
</nav>

<style lang="scss">
  @use "../../estilos/_variables.scss" as *;
  #logo {
    width: 10vw;
    height: auto;
    svg {
        border: solid 1px #fff;
        fill: #fff;
    }
    @include cel {
        width: 50vw;
    }
  }
  li {
    display: flex;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color:$primario;
    gap: 1rem;
    align-items: center;
 
  }

  nav {
    background-color: $terciario;
    margin-bottom: $margen-min;
  
    ul {
      display: flex;
      color: white;
      justify-content: space-between;
      align-items: center;
      padding: $margen-min;
    }
 

    button {
      background-color: $primario;
      border-radius: 5px;
      color: #fff;
      border: none;
      display: inline-block;
      text-align: center;
      padding: 0.3rem 0.8rem;
      font-weight: bold;
      margin: 0!important;

      svg {
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }
  }
</style>