@import "_variables.scss";
h2 {
  color: $secundario;
  padding-top: $margen-min;
  font-size: clamp(3rem, 1.5vw, 2rem);

}
.confirmacion {
  color: white;
  margin-top: $margen;
}
.bandeja {
  text-align: center;
  padding: $margen;
  margin: 0 auto;
  background: $urlPatron, $terciario;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: $primario;
  @include cel {
    background-size: cover;
    max-width: 100%;
    padding: $margen-cel;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  a{
    color: $primario!important;
    border: solid 1px $primario!important;
    margin-top: $margen-cel;
  }
  label,
  input,
  select,
  textarea {
    flex: 1 0 100%;
    margin-top: 0.6rem;
    padding: 0.5rem 0;
    border-radius: 3px;
  }
  textarea{
    field-sizing: content;
    min-height: 50px;
  }
  textarea,
  select {
    border: none !important;
    opacity: 0.8;
    padding: 0.5rem;
    @extend .sombra;
  }
  @include cel {
    width: 100%;
  }
  @include cel {
  
    label {
      text-align: center;
    }
  }
}
svg {
  max-width: 2.5rem;
  height: auto;
  margin: 0 auto;
}