
@use "../../estilos/quince/_variables.scss" as *;

 
#hero {
  display: grid;
  position: relative;
  grid-template-rows: 2fr 1fr 20%;
  grid-template-columns: 1fr 10% 1fr;
  height: 100dvh;
  @include cel{
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 10% 1fr 10%;
    height: auto;
    margin-bottom: $margen;
  }
  .laimagen{
    grid-column: 1 / span 2;
    grid-row: 1 / span 8;
    width: 100%;
    height: 100%;
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
    @include cel {
      grid-column: 1 / span 3;
      grid-row: 1 / 7;
    }
  }
}


.bandeja {
  @extend .sombra;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  margin: $margen 0;
  background: $urlPatron, var(--fondoBurn);
  background-blend-mode:color-burn;
  text-align: center;
  color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 1vw, 3vw);
  position: relative;
  padding: $margen-top $margen-min;
  span {
    padding-bottom: $margen-min;
    margin-bottom: $margen-min;
  }  
  @include cel {
    grid-column: 2 ;
    grid-row: 6 / -1;
    padding: $margen-cel $margen-cel $margen $margen-cel;
    max-height: content;
  }
}
h1{
  padding: $margen-min 0 $margen-min 0;
  color: var(--secundario);
}
.familia {
  font-size: clamp(1.3rem, 2vw, 5vw);
  color: var(--acento);
}
.fecha {
  color: var(--secundario);
  font-size: clamp(1.2rem, 2vw, 5vw);
}
#pases {
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--acento);
  opacity: 0.9;
  padding: 2rem;
  position: absolute;
  bottom: -5rem;
  color: var(--terciario);
 
  @include cel {
    padding: 1rem;
    font-size: 1rem;
  }
}
#NumeroPases{
  font-size: clamp(2em, 3vw, 7vw);
}
