
@import "../../estilos/quince/_variables.scss";

 
#hero {
  display: grid;
  position: relative;
  grid-template-rows: 2fr 1fr 20%;
  grid-template-columns: 1fr 10% 1fr;
  height: 100dvh;
  @include cel{
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 10% 1fr 10%;
    height: auto;
    margin-bottom: $margen;
  }
  .laimagen{
    grid-column: 1 / span 2;
    grid-row: 1 / span 8;
    width: 100%;
    height: 100%;
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
    @include cel {
      grid-column: 1 / span 3;
      grid-row: 1 / 7;
    }
  }
}


.bandeja {
  @extend .sombra;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  margin: $margen 0;
  background: $urlPatron, $primario;
  background-blend-mode:overlay;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.2rem, 1vw, 3vw);
  position: relative;
  padding: $margen-top $margen-min;
  @include cel {
    grid-column: 2 ;
    grid-row: 6 / -1;
    padding: $margen-cel $margen-cel $margen $margen-cel;
    max-height: content;
  }
}
h1{
  padding: $margen-min 0 $margen-min 0;
  color: $secundario;
}
span {
  padding-bottom: $margen-min;
  border-bottom: solid 1px $gris;
  margin-bottom: $margen-min;
  display: block;
}
.familia {
  font-size: clamp(1.3rem, 2vw, 5vw);
}
.fecha {
  color: $secundario;
  font-size: clamp(1.2rem, 2vw, 5vw);
}
#pases {
  background: $secundario;
  padding: 1rem;
  position: absolute;
  bottom: -5rem;
  @extend .sombra;
  span {
    font-size: clamp(1.5rem, 2vw, 5vw);
  }
  @include cel {
    padding: 1rem;
    font-size: 1rem;
  }
}
