$primario: #656a8d;
$secundario: #ffce95;
$terciario: #b6dde2;
$acento: #ee6a6a;
$gris: #555556;
$fondo: #ffce95;

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;
$hdplus: 1990px;

//extra
$radio: 0.8rem;
$margen: 4rem;
$margen-top: 8rem;
$radio-cel: 0.5rem;
$margen-cel: 2rem;
$margen-min: 1rem;
$margen-top-cel: 6rem;

$fuenteA: "Montserrat Alternates";
$fuenteB: "Averia Serif Libre";

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) and (max-width: #{$hdplus}) {
    @content;
  }
}

@mixin hdplus {
  @media (min-width: #{$hdplus}) {
    @content;
  }
}
// animaciones
.anime {
  transition: all 0.2s ease-in-out;
}

.sombra {
  box-shadow: 0px 4px 19px 0px rgba(205, 160, 109, 0.6);
}
.imagenFuera {
  height: calc(100% - 2rem);
  top: 2rem;
  @include cel {
    height: calc(100% + 1rem);
    top: -1rem;
  }
}
