$primario: #656A8D;
$secundario: #EB8686;
$terciario: #dae3ea;
$acento: #d65e5e;
$gris: #4a4c54;
$fondo: #ffce95;
$fondoGlobal: #fff6f0;
$otro:#f0eae7;


//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd: 1600px;
$hdplus: 1990px;

//extra
$radio: 0.5rem;
$margen: 4rem;
$margen-top: 8rem;
$radio-cel: 0.5rem;
$margen-cel: 2rem;
$margen-min: 1rem;
$margen-top-cel: 6rem;

$fuenteA: "Montserrat", sans-serif;
// $fuenteB: "DM Serif Display", serif;
$fuenteB: "Bittere", serif;
$garigol: "Playwrite CU";

@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) and (max-width: #{$hdplus}) {
    @content;
  }
}

@mixin hdplus {
  @media (min-width: #{$hdplus}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

// animaciones
.anime {
  transition: all 0.2s ease-in-out;
}

.sombra {
 // box-shadow: 0px 5px 6px 0px rgba($primario, 0.3);
    box-shadow:
  0 2.8px 2.2px rgba($primario, 0.034),
  0 6.7px 5.3px rgba($primario, 0.048),
  0 12.5px 10px rgba($primario, 0.06),
  0 22.3px 17.9px rgba($primario, 0.072),
  0 41.8px 33.4px rgba($primario, 0.086),
  0 100px 80px rgba($primario, 0.12)
;
}
.imagenFuera {
  height: calc(100% - 2rem);
  top: -2rem;
  @include cel {
    height: calc(100% + 1rem);
    top: -1rem;
  }
}
