@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: clamp(10px, 0.9vw, 22px);
  @include hd {
    font-size: clamp(10px, 0.9vw, 20px);
  }
  @include cel {
    font-size: clamp(16px, 1.8vw, 18px);
  }
  @include hdplus {
    font-size: clamp(14px, 7vw, 22px);
  }

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  background: #ede3dd;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
  font-family: "Averia Serif Libre", serif;
  padding-bottom: 0.7rem;
  color: $secundario;
}
h1 {
  font-size: clamp(2.5rem, 5vw, 7vw);
}
h2 {
  font-size: clamp(2.2em, 2vw, 30vw);
  color: $acento;
  @include hd {
    font-size: clamp(3em, 2vw, 50vw);
  }
}

ol,
ul {
  list-style: none;
}
li {
  list-style: disc;
  /* list-style-position: inside; */
  margin-left: 1.5rem;
  margin-bottom: 0.2rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
  shape-margin: 0.75rem;
}
a {
  text-decoration: none;
  display: inline-block;
  color: $primario;
  @extend .anime;
  &:hover {
    transform: scale(1.05);
  }
}
.selected {
  color: $acento;
  text-decoration: underline;
  font-weight: 700;
}
p {
  margin-bottom: 0.6rem;
}
p:last-child {
  margin-bottom: 0rem;
}
b {
  font-weight: bold;
}
//flex
.flex {
  display: flex;
  gap: $margen-min;
  flex-wrap: wrap;
}
// grid
.grid {
  display: grid;
  grid-template-columns: [pantalla-start] 5vw [extra-start] 5vw [contenido-start] 1fr [contenido-end] 5vw [extra-end] 5vw [pantalla-end];
  @include hd {
    grid-template-columns: [pantalla-start] 6vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 6vw [pantalla-end];
  }
  @include hdplus {
    grid-template-columns: [pantalla-start] 6vw [extra-start] 6vw [contenido-start] 1fr [contenido-end] 6vw [extra-end] 6vw [pantalla-end];
  }
}
.contenido > * {
  grid-column: contenido;
}
.extra > * {
  grid-column: extra;
}
.pantalla > * {
  grid-column: pantalla;
}
.pantalla-izq > * {
  grid-column: pantalla-start / contenido-end;
}
.pantalla-der > * {
  grid-column: contenido-start / pantalla-end;
}

.conte-cartas {
  display: flex;
  gap: $margen-min;
  margin: $margen 0;
  flex-wrap: wrap;
}

#zigzag {
  padding: $margen 0;
  .bloqueMapa:last-child {
    z-index: 400;
    transform: translateY(-2rem);
    @include cel {
      transform: translateY(0);
    }
    .izq {
      order: 2;
    }
    .der {
      order: 1;
    }
  }
}

.fondo-mitad {
  background: $terciario;
  background: linear-gradient(
    0deg,
    $terciario 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.btn {
  padding: 1rem $margen-cel;
  color: white;
  border: 1px solid white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  @include cel {
    width: 100%;
    text-align: center;
  }
  &:hover {
    background: white;
    border-radius: $margen-min;
    color: $primario;
  }
}
.desactivado {
  pointer-events: none;
}

.cartaBase {
  background: white;
  border-radius: $margen-min;
  position: relative;
  @extend .sombra;
  margin: $margen;
  @include cel {
    margin: $margen-cel 0;
  }
}
.baseA {
  --baseAPadd: 30dvh;
  text-align: center;
  padding: var(--baseAPadd) $margen $margen $margen;
  p {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 70%;
  }
  img {
    object-fit: cover;
  }

  @include tableta {
    padding: 12dvh $margen $margen $margen;
  }
  @include tableta-land {
    padding: 25dvh $margen $margen $margen;
  }
  @include cel {
    padding: 0 $margen-cel $margen-cel $margen-cel;
  }
}

.cartasBaseImagenes {
  width: 100%;
  display: flex;
  position: absolute;
  left: 0;
  // top: calc((100% - var(--baseAPadd)) );
  top: -7rem;
  gap: 1rem;
  justify-content: center;
  .bloqueImg {
    backdrop-filter: blur(6px);
    overflow: hidden;
    border-radius: $margen-min;
    background: rgba(94, 206, 221, 0.4);
    flex: 1 0 fit-content;
    display: flex;
    max-width: 50%;
    @extend .sombra;
    &:first-child {
      max-width: 20%;
      background: rgba(255, 136, 0, 0.4);
    }
  }

  @include cel {
    top: -1dvh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 2rem;
    .bloqueImg {
      max-width: 100%;
      &:first-child {
        max-width: 100%;
        justify-content: center;
        img {
          height: 70vw;
        }
      }
    }
  }
}

.cartaBase2 {
  text-align: center;
  background: white;
  border-radius: $margen-min;
  position: relative;
  flex: 1 0 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    position: relative;
    margin-top: $margen-min;
    object-fit: contain;
    width: auto;
    padding: $margen-min 0;
  }
  h2,
  p {
    flex: 1 0 100%;
  }

  @extend .sombra;
  padding: $margen;
  @include cel {
    padding: $margen-cel;
  }

  &:last-child {
    flex: 1 0 30%;
    padding: $margen-cel $margen-cel 0 $margen-cel;
    background: url("/fondo-nvite-caracteristicas-2.png") no-repeat $secundario;
    background-size: cover;
    background-blend-mode: color-dodge;
    img {
      margin-top: 0;
      padding: 0;
      align-self: flex-end;
    }
  }
  #decor {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 10vw;

    @include hdplus {
      left: 6rem;
    }
    @include cel {
      width: 20vw;
    }
  }
}

.cartaBase3 {
  padding: 0 !important;
  .bande {
    padding: $margen-cel;
  }
  overflow: hidden;
  img {
    width: 100%;
  }
}

#conteCaracteristicas {
  display: flex;
  flex-wrap: wrap;
  gap: $margen-min;
  justify-content: space-around;
  margin: $margen-min 0;
  & > * {
    position: relative;
    flex: 1;
    border-radius: $margen-min;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url("/fondo-nvite-caracteristicas.png") no-repeat #fceedf;
    background-size: cover;
    background-blend-mode: color-dodge;
    aspect-ratio: 3 / 2;
    @include cel {
      aspect-ratio: 3 / 5;
    }
    .conte {
      position: relative;
      max-width: 70%;
      text-align: center;
    }
    h3 {
      color: $acento;
      font-size: clamp(3.7vh, 2vw, 3vw);
    }
    .icono {
      max-width: 1.7rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
      @include cel {
        max-width: 2rem;
      }
    }
  }
}

.azulBG {
  background: url("/fondo-nvite-caracteristicas-banner.png") no-repeat,
  linear-gradient(43deg, rgb(255, 255, 255) 30%, $secundario 100%) no-repeat;
  background-position: center right, top left;
  background-size: 50%, 100%;
  @include cel {
    background: url("/fondo-nvite-caracteristicas-banner.png") no-repeat,
    linear-gradient(43deg, $secundario 0%, rgb(255, 255, 255) 100%) no-repeat;
    background-position: center bottom;
    background-size: 120%;
  }
  margin-bottom: $margen-min;
}
.texto-izq {
  text-align: left;
}
.mini {
  font-size: 0.7rem;
  font-weight: bold;
  color: $primario;
}

#formu {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  padding: $margen-cel;
  border-radius: $margen-min;
  backdrop-filter: blur(6px);
  background: rgba(255, 206, 149, 0.2);
  img{
    width: 50px;
    vertical-align: middle;
    margin: 0;
  }
  @include cel {
    width: 100%;
  }
  @extend .sombra;
  form {
    display: flex;
    flex-wrap: wrap;
    
  }
  h3 {
    vertical-align: middle;
    flex: 1 0 100%;
    color: $acento;
  }
}

label {
  flex: 1 0 100%;
  font-size: clamp(0.9rem, 0.8vw, 1rem);
  color: $primario;
  padding-top: $margen-min;
}
input {
  flex: 1 0 100%;
  padding: 0.5rem;
  border: solid 1px $acento;
}
button[type="submit"], #empezar {
  margin-top: $margen-min;
  border-radius: .5rem;
  padding: 1rem $margen-cel;
  color: white;
  border: 1px solid white;
  margin: 0.5rem 0.5rem 0.5rem 0;
  background-color: $acento;
  @include cel {
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
  }
  &:hover {
    background: $secundario;
    color: $primario;
  }
}
input::placeholder {
  color: $primario;
}

.fondo-alegre{
  background: url("/fondo-cover-nviteme-invitaciones-digitales.webp") repeat-x white;
  background-size: 50%;
  background-position: 0% 300%;
  @include cel {
    background-size: 100%;
    background-position: 0% 150%;
    
  }
}

.desactivado{
  opacity: .4;
  cursor:not-allowed!important;
  }