---
import Layout from "../../layouts/panelInvitados.astro";
---

<Layout title="Ingreso a panel de invitador">
  <h1>Ingresa a tu panel de invitados</h1>

  <form data-authForm action="../api/ingresar.json">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Agrega un email valido"
    />
    <label for="password">Contaseña</label>
    <input
      type="password"
      name="password"
      id="password"
      autocomplete="password"
      placeholder="Agrega una contraseñá segura"
    />
    <button>Ingresa</button>
  </form>
  <p>Aún no tienes cuenta? <a href="/panel/registro">Registrate</a></p>
</Layout>
