@import "_variables.scss";
h2 {
  padding-top: $margen-min;
  font-size: clamp(2.5rem, 1.5vw, 2rem);
  color: var(--primario);

}
.confirmacion {
  margin-top: $margen;
  // background: url("/bodas/confirma-fondo-izq.webp") var(--fondo);
  background: url("/bodas/confirma-fondo-izq.webp"), url("/bodas/confirma-fondo-der.webp") var(--fondo);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
  background-size: contain;
  // background-blend-mode:difference;
  border-radius: $radio;
  @include cel {
    background-position: -20% top, right bottom;
    background-size: 50%, 100%;
    background-blend-mode: color-burn, normal;
  }
  @extend .sombra;
}
.bandeja {
  text-align: center;
  padding: $margen;
  margin: 0 auto;
  max-width: 60%;
  // background: $urlPatron, $gris;
  background-blend-mode: color-dodge;
  background-size: contain;
  background-position: center;
  @include cel {
    max-width: 100%;
    padding: $margen-cel;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  label,
  input,
  select,
  textarea {
    flex: 1 0 100%;
    margin-top: 0.6rem;
    padding: 0.5rem 0;
    border-radius: $radio;
  }
  textarea{
    field-sizing: content;
    min-height: 50px;
  }
  textarea,
  select {
    border: none !important;
    opacity: 0.5;
    padding: 0.5rem;
    @extend .sombra;
  }
  @include cel {
    width: 100%;
    text-align: center;
  }
}
svg {
  max-width: 2.5rem;
  height: auto;
  margin: 0 auto;
  path{
    fill: var(--acento);
  }
  .btn{
    border-radius: $radio!important;
  }
}
.conteCheck{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  p{
    margin: 0;
  }
}
.switch {
  position: relative;
  display: inline-block;
  max-width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  width: 59px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #777777;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  &::before{
    border-radius: 34px;
  }
}

.btn{
  border-radius: $radio;
}
.btn-ancho{
width: 100%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--secundario);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
