---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
 

---

<Layout title="Nvitaciones - Invitaciones digitales de bodas.">

    <div class="grid contenido">
        <Nav />
      </div>
</Layout>