---
import Herointerior from "../components/Herointerior.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
 

---

<Layout title="Nvitaciones - Invitaciones digitales de bodas.">

    <div class="grid contenido">
        <Nav />
      </div>

      <Herointerior Spanh1="<b>Invitaciones</b> de" h1="bodas" description="Tu bodas es especial, tus invitados son especiales, tus <b>invitaciones</b> también lo tienen que ser" fondo="#ffce95" />
</Layout>