---
import Layout from '../layouts/Layout.astro';

---

<!-- <Layout title="Invitaciones de bodas, 15 años, fiestas y eventos digitales."> -->
<Layout title="Invitaciones de bodas digitales.">
<section>
	<img src="nvite-logo.svg" alt="Invitaciones digitales">
	<h1>Invitaciones de bodas digitales.</h1>
	<p>Estamos trabajando en ofrecerta más invitaciones, por ahora solo te ofrecemos nuestra invitación de bodas</p>
	
	
	
</section>
<section>
	<h2>Invitaciones de bodas</h2>
	<p>Invitaciones de bodas digitales personalizadas, con confirmación de asistencia, nombre y pases de invitados</p>
	<ul>
		<li>Envia tu invitación por whatsapp o correo a tus invitados</li>
		<li>Foto de portada</li>
		<li>Cada invitación es personalizada con el nombre del invitado y los pases asignados</li>
		<li>Sugiere mesas de regalos, regalos en efectivo o tranferencias de dinero</li>
		<li>Cuenta regresiva para la fecha del evento</li>
		<li>Mapas de ubicación de la ceremonio y la fiesta</li>
		<li>Galería de fotos de la pareja</li>
		<li>Frase de amor y textos descriptivos del evento</li>
		<li>Codigo de vestimenta</li>
		<li>Detalles adicionales</li>
		<li>Formulario de confirmación de asistencia y pases a usar</li>
	</ul>
	<p>Es tan completa la invitación que tambien la puedes usar como sitio web de tu boda.</p>

	<ul>
		<h3>El Proceso</h3>
		<li>Te enviamos un formulario donde nos envias la información de tu boda</li>
		<li>Tambien te enviamos un documento excel para que agregues los nombres de los invitados y asignar sus pases</li>
		<li>En menos de 2 días te entregamos la dirección de la invitacion de tu boda, lista para ser enviada a tus invitados</li>
	</ul>

		<h3>Que recibo</h3>
		<p>Te enviamos una lista de direcciones por cada invitado que podras copiar y pegar en whatsapp o en tu correo para enviar al instante a tus invitados, <b>Visita la invitación de muestra:</b></p>

	<a href="/bodas">Ver invitacion de bodas</a>
</section>
<section>
	<h2>Contáctanos vía whatsapp</h2>
	<p>Contactanos para iniciar con el proceso de creación de tu invitación.</p>

	<a href="https://api.whatsapp.com/send?phone=573213452645">Envianos un mensaje</a>
</section>
</Layout>
