---
import Banner from "../components/Banner.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Btn from "../components/Btn.astro";
import Footer from "../components/Footer.astro";
---

<!-- <Layout title="Invitaciones de bodas, 15 a침os, fiestas y eventos digitales."> -->
<Layout title="Invitaciones de bodas, 15 a침os, cumplea침os y eventos digitales, personalizadas, con confirmaci칩n de asistencia y faciles de enviar.">
  <Hero
    encabezado="<span>Nvita</span>ciones digitales"
    description="Las invitaciones digitales son <b>f치ciles de enviar, convenientes </br> y personalizadas</b>. Adem치s te damos un panel de control con todos tus invitados. "
    fondo="fondo-cover-nviteme-invitaciones-digitales.webp"
  />

  <section class="grid contenido">
    <div class="cartaBase baseA">

      <div class="cartasBaseImagenes">
        <div class="bloqueImg">
          <img
            src="/muestra-invitacion-digital-nvite-celular.webp"
            alt="invitacion digital celular"
          />
        </div>
        <div class="bloqueImg">
          <img
            src="/muestra-invitacion-digital-nvite-escritorio.webp"
            alt="invitacion digital celular"
          />
        </div>
      </div>

     <div class="cartaBaseTxt">
      <h2>Tu invitaci칩n digital en cualquier pantalla</h2>
      <p>
        Dise침adas para verse en celulares o monitores de computadoras, <b
          >tus invitaciones se ver치n geniales</b
        > donde sea que las vean, invitaciones ligeras y con toda la informaci칩n de tu evento.
      </p>
      <p>
        Adem치s, podr치s usar tus invitaciones tambi칠n como <b
          >p치gina web de tu evento</b>
      </p>
     </div>
    </div>
    <div class="flex">
      <div class="cartaBase2">
        <h2>Invitaciones personalizadas</h2>
        <p>
          Tu invitados <b>se sentir치n especiales al leer sus nombres</b>, cada
          invitaci칩n tiene un numero de identificaci칩n relacionado con tu
          invitado y los pases que le asignes.
        </p>
        <img
          id="decor"
          src="/decoracion-muestra-invitacion-digital-nvite.webp"
          alt="decoracion invitacion"
        />
        <img
          src="/muestra-invitacion-digital-nvite-personalizada.webp"
          alt="invitacion personalizada"
        />
      </div>
      <div class="cartaBase2">
        <h2>Recibe confirmaci칩n de tu invitaci칩n</h2>
        <p>
          Sabemos lo importante que es para ti que tus invitados confirmen su
          asistencia, as칤 que <b
            >podr치n confirmarte directamente a tu whatsapp</b
          > su asitencia y cuantos pases planean usar.
        </p>
        <img
          src="/muestra-invitacion-digital-nvite-confirmacion-whatsapp.webp"
          alt="invitacion con confirmaci칩n de asistencia"
        />
      </div>
    </div>

    <!-- carcateristicas -->

    <div id="conteCaracteristicas">
      <Caracteristicas
        encabezado="mapas"
        texto="Para que tus invitados no se pierdan."
        icono="/ico-nvite-mapa.svg"
        fondo="/fondo-nvite-caracteristicas.png"
      />

      <Caracteristicas
        encabezado="regalos"
        texto="Sugiere los regalos que quieres en tu evento."
        icono="/ico-nvite-regalos.svg"
        fondo="/fondo-nvite-caracteristicas-2.png"
      />

      <Caracteristicas
        encabezado="detalles"
        texto="Agrega los detalles de tu evento."
        icono="/ico-nvite-detalles.svg"
        fondo="fondo-nvite-caracteristicas-3.png"
      />

      <Caracteristicas
        encabezado="fotos"
        texto="Agrega hasta 6 fotos a tu galer칤a."
        icono="/ico-nvite-fotos.svg"
        fondo="fondo-nvite-caracteristicas-4.png"
      />
    </div>
  </section>

  <div id="bodas" class=" grid pantalla-der">
    <Banner />
  </div>

  <section class="grid contenido">
    <div id="conteCaracteristicas">
      <Caracteristicas
      encabezado="1: contacto"
      texto="Resolvemos tus dudas y te guiamos en el proceso."
      icono="/ico-nvite-recibes.svg"
      fondo="/fondo-nvite-caracteristicas.png"
      colorBg="#FFF1E1";
      />
      
      <Caracteristicas
      encabezado="2: pago"
      texto="Te damos distintas opciones de pago."
      icono="/ico-nvite-pago.svg"
      fondo="/fondo-nvite-caracteristicas-2.png"
      />
      
      <Caracteristicas
      encabezado="3: datos"
      texto="Nos envias los datos de tu evento."
      icono="/ico-nvite-datos.svg"
      fondo="fondo-nvite-caracteristicas-3.png"
      colorBg="#FFF1E1";
      />
      
      <Caracteristicas
      encabezado="4: entrega"
      texto="Tienes tu invitaci칩n lista para usarse"
      icono="/ico-nvite-entrega.svg"
      fondo="fondo-nvite-caracteristicas-4.png"
      />
    </div>
  </section>
</section>

<section class="grid contenido">
    <div class="flex">
      <div class="cartaBase2  fondo-formu">
        <div class="bande">
			<h2>Obt칠n tu invitaci칩n</h2>
      <p><b>Cont치ctanos</b>, para resolver tus dudas o iniciar치 el proceso para que obtengas tu invitaci칩n.</p>
      <!-- <ul>
		<li>Iniciado el proceso, te enviamos un formulario donde nos <b>proporcionas la informaci칩n de tu boda</b>.</li>
		<li>Tambi칠n te enviamos un documento excel para que <b>agregues los nombres de los invitados</b> y asignar sus pases</li>
		<li>En un promedio de 2 d칤as <b>te entregamos tu invitaci칩n de tu boda</b>, lista para ser enviada a tus invitados <span class="mini">(2 d칤as despu칠s de tener los datos del evento e invitados completos)</span></li>
	  </ul> -->
	  <!-- <Btn liga="/bodas" texto="Iniciar proceso" claro={true} /> -->
		</div>

       <div id="formu">
         <form>
          <!-- <h3>
          <img src="/whatsapp.png" alt="logo whatsapp">
         <b>whatsapp</b></h3> -->
          <p><b>Aida</b>, nuestra asistente,resolver치 tus dudas 游땕</p>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Agrega al menos un apellido">
          <label for="fecha">Fecha del evento</label>
          <input type="date" name="fecha" id="fecha">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="introducir un email valido">
          <a href="#" id="empezar" class="desactivado"><img src="/whatsapp.png" alt="logo whatsapp"> Hola <b>Aida</b></a>
          <!-- <button type="submit" id="empezar" class="desactivado">Empezemos</button> -->

        </form>
       </div>
      </div>
      <div class="cartaBase2 cartaBase3">
       <div class="bande-2">
		<h2>쯈u칠 recibo?</h2>
        <p>
          Adem치s de tus <b>invitaciones personalizadas</b>, tendr치s acceso a un <b>panel de invitados</b> donde podr치s copiar las ligas de cada invitado y marcar a los confirmados, <b>ten mejor control</b> de lo m치s importante de tu evento, tus invitados.
        </p>
		<Btn liga="https://www.nvita.me/bodas/nvite-bodas-1/panel" texto="Ver panel de invitados" claro={false} blank={true} />
	   </div>
        <img
          src="/nvite-panel-invitados.webp"
          alt="panel de invitados nvita.me"
        />
      </div>
    </div>
  </section>
  <Footer />
</Layout>
