---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';

---

<!-- <Layout title="Invitaciones de bodas, 15 años, fiestas y eventos digitales."> -->
<Layout title="Invitaciones de bodas digitales.">
	<Hero encabezado="<span>Nvite</span>ciones digitales" description="Estamos trabajando en ofrecerte más invitaciones y variedad, iniciamos con la <b>invitación de bodas</b>, pero pronto tendrás disponible mas opciones." fondo="fondo-cover-nviteme-invitaciones-digitales.webp" />

		<section class="grid contenido">
			
			<div class="cartaBase baseA">
				<div class="cartasBaseImagenes">
					<div class="bloqueImg">
						<img src="/muestra-invitacion-digital-nvite-celular.webp" alt="invitacion digital celular">
					</div>
					<div class="bloqueImg">
						<img src="/muestra-invitacion-digital-nvite-escritorio.webp" alt="invitacion digital celular">
					</div>
				</div>

				<h2>en cualquier pantalla</h2>
				<p>Diseñadas para verse en celulares o monitores de computadoras, <b>tus invitaciones se verán geniales</b> donde sea que las vean.</p>
				<p>Además, podrás usar tus invitaciones tambien como <b>página web de tu evento</b></p>
			</div>
			<div class="flex">
				
			<div class="cartaBase2">
				<h2>personalizadas</h2>
				<p>Tu invitados <b>se sentirán especiales al leer sus nombres</b>, cada invitación tiene un numero de identificación relacionado con tu invitado y los pases que le asignes.</p>
				<img src="/muestra-invitacion-digital-nvite-personalizada.webp" alt="invitacion personalizada">
			</div>
			<div class="cartaBase2">
				<h2>confirmación</h2>
				<p>Sabemos lo importante que es para ti que tus invitados confirmen su asistencia, asi que <b>podrán confirmarte directamente a tu whatsapp</b> su asitencia y cuantos pases planean usar.</p>
				<img src="/muestra-invitacion-digital-nvite-confirmacion-whatsapp.webp" alt="invitacion con confirmación de asistencia">
			</div>
			</div>


		</section>
</Layout>
