---
import Footer from "../components/bodas/Footer.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Términos y condiciones de Nvitaciones.com">
    <Nav />
    <div class="grid contenido" id="terminos">
        <h1>Términos y condiciones</h1>

        <h2>Política de Reembolso</h2>
        <p>
            En <b>Nvitaciones.com</b>, nuestra prioridad es garantizar la satisfacción de nuestros clientes al ofrecer invitaciones digitales de alta calidad. Sabemos que, en ocasiones, pueden surgir situaciones excepcionales que requieran la devolución del monto abonado. A continuación, detallamos nuestra política de reembolso:
        </p>
        <ol>
            <h3>Solicitud de Reembolso</h3>
            <p>
                Los clientes pueden solicitar el reembolso del valor abonado por las invitaciones digitales dentro de un plazo de hasta 24 horas posteriores a la entrega del producto final.
            </p>
            <h3>Retención por Gastos Administrativos</h3>
            <p>
                En caso de solicitar un reembolso, se aplicará una retención del 30% del valor total de la compra para cubrir los costos administrativos relacionados con la transacción y la personalización del producto.
            </p>
            <h3>Proceso de Reembolso</h3>
            <p>
                Los clientes deben ponerse en contacto con nuestro equipo de atención al cliente a través de WhatsApp (+52 1 755 113 2468) o por medio de nuestro correo electrónico de soporte invitacionesnvite@gmail.com
            </p>
            <h3>Excepciones</h3>
            <p>
                No se aceptarán reembolsos después de las 24 horas posteriores a la entrega del producto.
            </p>
            <h3>Tiempos de entrega</h3>
            <p>
                Los tiempos de entrega de las invitaciones digitales son de 24 horas a 48 horas. Sin embargo, en ocasiones excepcionales, el tiempo de entrega puede extenderse de los 48 horas. En caso de que esto ocurra, se informará al cliente a través del correo electrónico o mensaje de WhatsApp proporcionado al momento de la compra.
            </p>
            <h3>Compromiso de entrega</h3>
            <p>
                Nos comprometemos a entregar las invitaciones digitales en el plazo acordado. Sin embargo, no nos hacemos responsables por retrasos causados por problemas técnicos, errores en la información proporcionada por el cliente o situaciones fuera de nuestro control. <b>la fecha de entrega se calculará a partir de la entrega completa de los datos e imagenes del evento.</b>
            </p>
        </ol>
        <h2>Política de Privacidad</h2>
        <p>
            En Nvitaciones.com, valoramos y protegemos la privacidad de nuestros clientes. Esta política explica cómo recopilamos, usamos y resguardamos tu información personal al utilizar nuestros servicios.
        </p>
        <ol>
            <h3>Información que Recopilamos</h3>
            <ul>
                <li>Nombre, dirección de correo electrónico, número de teléfono y datos relacionados con tus eventos (como nombres de invitados y detalles del evento).</li>
                <li>Archivos multimedia (fotos o imágenes) que deseas incluir en tus invitaciones digitales.</li>
            </ul>
            <h3>Uso de la Información</h3>
            <ul>
                <li>Crear y personalizar tus invitaciones digitales.</li>
                <li>Enviar notificaciones relacionadas con el estado de tus invitaciones.</li>
                <li>Proporcionar soporte técnico y responder consultas.</li>
                <li>Realizar análisis internos para mejorar nuestros servicios.</li>
            </ul>
            <h3>Protección de Datos</h3>
            <p>
                Implementamos medidas de seguridad avanzadas para evitar accesos no autorizados, pérdidas de datos o filtraciones.
            </p>
            <h3>Retención y Eliminación de Datos</h3>
            <p>
                Conservamos tus datos durante el tiempo necesario para cumplir con los servicios contratados o según lo exija la ley.
            </p>
            <h3>Cambios en la Política de Privacidad</h3>
            <p>
                Nos reservamos el derecho de actualizar esta política. Te notificaremos sobre cambios relevantes a través de nuestra página web o por correo electrónico.
            </p>
        </ol>

    </div>
    <Footer />
</Layout>


<style>
    #terminos{
        margin: 2rem 0;
    }
    h2{
        padding: 1.4rem 0;
    }
    h3{
        font-weight: bold;
        color: gray;
    }
</style>