

// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


// Mixins para el tema clásico
@mixin tema-clasico() {
  // Tipografía
  --font-headers: "Montserrat";
  --font-body: "Sacramento";
  // Fondos y texturas
  --bg-pattern: url('/bodas/texturas/clasico-bg.webp');
  --bg-overlay: url('fondo-formu.webp');

  // Espaciados específicos
  --section-spacing: 4rem;
  --component-spacing: 2rem;

  body, html, h1, h2, p, ul, li, hr, span, div, img, a, button, input, textarea, select, option, form, label, legend, fieldset, table, caption, tbody, tfoot, thead, tr, th, td, main, section, article, aside, footer, header, nav, figure, figcaption, audio, video, canvas, iframe, details, summary, mark, time, code, pre, kbd, samp, var, abbr, cite, dfn, address, cite, em, strong, b, i, u, s, small, sub, sup, ins, del, ol, ul, li, dl, dt, dd, blockquote, cite, em, strong, b, i, u, s, small, sub, sup, ins, del, ol, ul, li, dl, dt, dd, blockquote, cite, em, strong, b, i, u, s, small, sub, sup, ins, del, ol, ul, li, dl
{
  all: unset;

}
    
}

