---
import Btn from "./Btn.astro";
---

<div class="banner">
  <div class="der">
    <div class="bande">
      <h2>Nvite <span>Bodas</span></h2>
      <p>La invitación que también la puedes usar como <b>sitio web de tu boda</b></p>
      <ul>
        <li>Envía tu <b>invitación por whatsapp</b> o correo a tus invitados</li>
        <li>Foto de <b>portada</b></li>
        <li>
          Cada invitación es personalizada con el <b>nombre del invitado</b> y los
          pases asignados
        </li>
        <li>
          <b>Sugiere mesas de regalos</b>, regalos en efectivo o transferencias de
          dinero
        </li>
        <li><b>Cuenta regresivaCuenta regresiva</b> para la fecha del evento</li>
        <li>Mapas de ubicación de la ceremonia y la fiesta</li>
        <li>Galería de fotos de la pareja</li>
        <li>Frase animada de amor y textos descriptivos del evento</li>
        <li>Código de <b>vestimenta</b></li>
        <li>Detalles adicionales</li>
        <li>Formulario de <b>confirmación de asistencia</b> y pases a usar</li>
      </ul>
      <Btn liga="/bodas/nvite-bodas-1?id=2" texto="Ver invitacion de boda 1" claro={true} />
      <Btn liga="/bodas/nvite-bodas-2?id=2" texto="Ver invitacion de boda 2" claro={true} />
      <Btn liga="https://buy.stripe.com/00g4ix9sg7LRbkI7ss" texto="comprar $1490" claro={false} blank={true} />
    </div>
  </div>
  <div class="izq">
    <img
      src="novios-cover-invitacion-digital-nvite.webp"
      alt="Invitaciones de bodas"
    />
  </div>
</div>
<style lang="scss">
  @import "../estilos/_variables.scss";
  h2{
    color: $acento;
  }

  .banner {
    display: flex;
    flex-wrap: wrap;
  }
  .der, .izq{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include cel {
      flex : 1 0 100%;
    }
  }
  .izq {
    align-items: end;
  }
  .bande {
    width: 80%;
    margin: $margen 0;
  }
  ul{
    padding: 1rem 0;
  }

</style>
