---
interface Props {
    liga: string;
    texto: string;
    claro: boolean;
}
const { liga, texto, claro } = Astro.props;
---
<a href={liga} class={claro ? 'btn-claro' : 'btn-oscuro'} set:text={texto}></a>

<style lang="scss">
    @import '../estilos/_variables.scss';
    @mixin btn {
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        margin: $margen-min 0;
        @include cel {
            margin-top: $margen-min;
            text-align: center;
            width: max-content;
        }
    }
    .btn-claro {
        @include btn;
        color: $primario;
        border: 1px solid $primario;
        font-weight: 700;
    }
    .btn-oscuro {
        @include btn;
        background-color: $primario;
        color: $secundario;
        font-weight: 700;
    }

</style>