---
interface Props {
    liga: string;
    texto: string;
    claro: boolean;
    blank?: boolean;
    clases?: string;
    id?: string;
    rel?: string;
}
const { liga, texto, claro, blank, clases, rel, ...rest } = Astro.props;
---

    <a href={liga} class:list= {clases}  target={blank ? '_blank' : ''} {...rest} rel={rel} set:html={texto}>
    <slot />
</a>

<style lang="scss">
    @import '../estilos/_variables.scss';
    @mixin btn {
        padding: 10px 20px;
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        margin: $margen-min 0;
       
        @include cel {
            margin-top: $margen-min;
            text-align: center;
            width: max-content;
        }
    }
    .btn-claro {
        @include btn;
        color: $primario;
        border: 1px solid $primario;
        font-weight: 700;
    }
    .btn-oscuro {
        @include btn;
        background-color: $acento;
        color: white;
        font-weight: 700;
    }
    .btn-bordes{
        @include btn;
        border: 1px solid $secundario;
        color: $secundario;
        font-weight: 700;
    }

</style>