---

---
<div class="conte">
  <h2>Dudas más frecuentes</h2>
   
  <details>
    <summary>¿Como invito a mi boda, Xv años o evento?</summary>
    <div>
      Enviar las invitaciones es muy fácil, puedes enviar por WhatsApp, correo electrónico o compartir el enlace de tu invitación en tus redes sociales, si tu Nvitación es web Clásica o Lux, tienes acceso a un panel de invitados donde con un solo clic invitas o un botón para copias y pegar el enlace de cada invitado, si es PDF, te damos el archivo y simplemente lo envias por whatsapp a tus invitados <br />
    </div>
  </details>
   <details>
    <summary>¿Cómo saber cuántos invitados van a mi boda?</summary>
    <div>
     Te damos las herramientas para que puedas gestionar tus invitados. en las invitaciones web (lux y clásicas), tieneas acceso al panel de invitados donde podrás ver el % de invitados que han confirmado su asistencia así como los que te falta por invitar, los que no han confirmado o rechazaron la invitación.
    </div>
  </details>
  <details>
    <summary>¿Cómo hacer invitaciones que confirmen asistencia?</summary>
    <div>
      Todas las invitaciones, incluidas las PDF, tienen un enlace de confirmación de asistencia, dando así la opcion de confirmar la asistencia de tus invitados.
    </div>
  </details>
  <details>
    <summary>¿invitaciones personalizadas para cada invitado?</summary>
    <div>
      Así es, puedes personalizar tus invitaciones para cada invitado, con su nombre y pases creando una experiencia única y personal para tu evento, en las Nvitaciones Lux, puedes enviar <b>mensajes personales</b> a tus invitados especiales como tus padres, abuelos o amigos de toda la vida.
    </div>
  </details>
  <details>
    <summary>¿Mi invitación es a mi gusto?</summary>
    <div>
      Tu invitación (solo versión web clásica y lux) es con los detalles y fotos de tu evento, los datos de tus invitados y el diseño que tú elijas. Pero además, puedes elegir entre 3 patrones de colores, agregar la canción que amas, si muestras o no el porcentaje de invitados o a partir de que porcentaje de invitados confirmados se muestre esa información". 
    </div>
  </details>
  <details>
    <summary>¿Cuánto tiempo estará disponible la invitación en línea?</summary>
    <div>
      Desde la entrega de la invitación, estará disponible hasta una semana después del evento. El tiempo máximo de disponibilidad es de un año y una semana desde la entrega. Puedes adquirir tu invitación hasta con un año y una semana de anticipación.
    </div>
  </details>
  <details>
    <summary>¿Qué garantías tengo al comprar?</summary>
    <div>
      Te garantizamos que tus invitaciones funcionarán en smartphones, tabletas y computadoras, y estarán disponibles desde el momento de la entrega hasta una semana después del evento. <b>O te devolvemos tu dinero.</b>
    </div>
  </details>
  <details>
    <summary>¿Qué métodos de pago aceptan?</summary>
    <div>
      Puedes pagar con tarjeta de crédito o débito a través de Stripe, una plataforma de pago segura Google Pay. Si estás en México, también puedes pagar en cualquier sucursal OXXO.
    </div>
  </details>

  <details>
    <summary>¿Cuál es su horario de atención?</summary>
    <div>
      Lunes a viernes, de 9:00 a.m. a 6:00 p.m.
    </div>
  </details>
  <details>
    <summary>Tengo más dudas, ¿cómo me contacto con ustedes?</summary>
    <div>
      <ul>
        <li>Puedes usar el formulario que está más abajo; es la forma más fácil y rápida de contactarnos. Cuéntanos tus dudas y con gusto te ayudaremos a resolverlas.</li>
        <li>WhatsApp: +52 1 755 113 2468</li>
        <li>Email: invitacionesnvita@gmail.com</li>
      </ul>
    </div>
  </details>
</div>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;
  .conte {
    border-radius: $radio;
    background: rgb(255, 247, 233);
    margin-bottom: $margen;
    transform: translateY(-$margen-min);
    // max-width: fit-content;
    margin-left: auto;   
  margin-right: auto;
  width: 70%;
    @extend .sombra;
    h2 {
      color: $acento;
      padding: $margen-cel $margen-min;
    }
    @include cel{
      width: 100%;
      h2{
        text-align: center;
      }
    }
  }
  details {
    border-top: solid 1px $fondo;
    color: $primario;
    font-size: clamp(1rem, 1.1vw, 1.3vw);
    @extend .anime;
  }

  summary {
    padding: $margen-min;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: "\002B";
  }

  details[open] summary {
    border-bottom: 1px solid $fondo;
  }

  details[open] summary:after {
    content: "\00D7";
  }

  details[open] div {
    padding: $margen-cel $margen-min;
    background: linear-gradient(0deg, $primario 80%, rgb(51, 47, 87) 40%);
    background: $primario;
    font-size: clamp(1rem, 1.3vw, 1vw);
    color: white;
    border-bottom-right-radius: $radio;
    border-bottom-left-radius: $radio;
  }
</style>

