---

---
<div class="conte">
  <h2>Dudas más frecuentes</h2>
  <details>
    <summary>¿Qué es la personalización de las Nvitaciones?</summary>
    <div>
      La personalización se refiere a los datos de la invitación. Cada invitación tendrá los datos e imágenes de tu evento. Además, puedes elegir entre tres combinaciones de colores, una frase animada y la canción de tu preferencia.
    </div>
  </details>
  <details>
    <summary>¿Cuánto tiempo estará disponible la invitación en línea?</summary>
    <div>
      Desde la entrega de la invitación, estará disponible hasta una semana después del evento. El tiempo máximo de disponibilidad es de un año y una semana desde la entrega. Puedes adquirir tu invitación hasta con un año y una semana de anticipación.
    </div>
  </details>
  <details>
    <summary>¿Qué garantías tengo al comprar?</summary>
    <div>
      Te garantizamos que tus invitaciones funcionarán en smartphones, tabletas y computadoras, y estarán disponibles desde el momento de la entrega hasta una semana después del evento. <b>O te devolvemos tu dinero.</b>
    </div>
  </details>
  <details>
    <summary>¿Qué métodos de pago aceptan?</summary>
    <div>
      Puedes pagar con tarjeta de crédito o débito a través de Stripe, una plataforma de pago segura Google Pay. Si estás en México, también puedes pagar en cualquier sucursal OXXO.
    </div>
  </details>
  <details>
    <summary>¿Con cuánto tiempo de anticipación debo hacer mi pedido?</summary>
    <div>
      Se recomienda adquirir tu invitación al menos cinco meses antes del evento, para que tengas tiempo de personalizarla, enviarla a tus invitados y recibir confirmaciones de asistencia. Sin embargo, puedes adquirir tu invitación hasta con un año de anticipación.
    </div>
  </details>
  <details>
    <summary>¿Cuál es el plazo de entrega?</summary>
    <div>
      Se requieren al menos dos días hábiles para la entrega de una invitación, después de haber proporcionado todos los datos e imágenes necesarios para la personalización.
    </div>
  </details>
  <details>
    <summary>¿En qué moneda están los precios?</summary>
    <div>
      Todos nuestros precios están en pesos mexicanos.
    </div>
  </details>
  <details>
    <summary>¿Se puede comprar desde cualquier ciudad o país?</summary>
    <div>
      Sí, puedes comprar desde cualquier ciudad, dentro o fuera de México. Si estás fuera de México, podrás pagar con tarjeta de débito o crédito.
    </div>
  </details>
  <details>
    <summary>¿Cuál es su horario de atención?</summary>
    <div>
      Lunes a viernes, de 9:00 a.m. a 6:00 p.m.
    </div>
  </details>
  <details>
    <summary>Tengo más dudas, ¿cómo me contacto con ustedes?</summary>
    <div>
      <ul>
        <li>Puedes usar el formulario que está más abajo; es la forma más fácil y rápida de contactarnos. Cuéntanos tus dudas y con gusto te ayudaremos a resolverlas.</li>
        <li>WhatsApp: +52 1 755 113 2468</li>
        <li>Email: invitacionesnvita@gmail.com</li>
      </ul>
    </div>
  </details>
</div>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;
  .conte {
    border-radius: $radio;
    background: rgb(255, 247, 233);
    margin-bottom: $margen;
    transform: translateY(-$margen-min);
    // max-width: fit-content;
    margin-left: auto;   
  margin-right: auto;
  width: 70%;
    @extend .sombra;
    h2 {
      color: $acento;
      padding: $margen-cel $margen-min;
    }
    @include cel{
      width: 100%;
      h2{
        text-align: center;
      }
    }
  }
  details {
    border-top: solid 1px $fondo;
    color: $primario;
    font-size: clamp(1rem, 1.1vw, 1.3vw);
    @extend .anime;
  }

  summary {
    padding: $margen-min;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: "\002B";
  }

  details[open] summary {
    border-bottom: 1px solid $fondo;
  }

  details[open] summary:after {
    content: "\00D7";
  }

  details[open] div {
    padding: $margen-cel $margen-min;
    background: linear-gradient(0deg, $primario 80%, rgb(51, 47, 87) 40%);
    background: $primario;
    font-size: clamp(1rem, 1.3vw, 1vw);
    color: white;
    border-bottom-right-radius: $radio;
    border-bottom-left-radius: $radio;
  }
</style>

