---
// @ts-ignore
import { Picture } from "astro:assets";
import Nav from "./Nav.astro";
import Btn from "./Btn.astro";

interface Props {
  encabezado: string;
  description: string;
  fondo: string;
}
const { encabezado, description, fondo } = Astro.props;
import cover from "../assets/home/invitaciones-digitales-cover-nvitacines.webp";
import { Icon } from "astro-icon/components";
---

<div class="grid contenido">
  <Nav />
</div>
<section class="grid pantalla-der">
  <div id="hero">
    <div class="izq anime">
      <div class="bandeja anime">
        <h1>
          <span>La Mejor Forma de Invitar:</span> f치cil, personalizada y elegante.
        </h1>
        <p set:html={description} />
        <div class="cta">
          <Btn
          liga="#bodas"
            texto="Ver invitaciones"
            claro={false}
            clases="btn-oscuro"
          >
            <Icon name="nvitacion" size={25} />
          </Btn>
          <p>M치s de 10 a침os de experiencia</p>
        </div>
        <!-- <Btn liga="#formu" texto="Cont치ctanos" claro={true} /> -->
      </div>
    </div>

    <div class="der anime">
      <Picture src={cover} alt="Invitaciones digitales para eventos" />
    </div>
  </div>
</section>

<style lang="scss">
  @import "../estilos/_variables.scss";

  #hero {
    background: white;
    border-top-left-radius: $margen-min;
    border-bottom-left-radius: $margen-min;
    @include cel {
      border-radius: $margen-min;
    }
    display: flex;
    h1 {
      width: 100%;
      color: $primario;
      span {
        color: $acento;
      }
    }
    p {
      margin: $margen-cel 0;
    }
    @extend .sombra;
    .bandeja {
      width: fit-content;
    }
    .der,
    .izq {
      display: flex;
    }
    .izq {
      padding: $margen;
      justify-content: center;
      align-items: center;
      flex: 1 0 50%;
    }
    .der {
      justify-content: center;
      align-items: center;
      flex: 1 0 50%;
      // background: url("/fondo-cover-nviteme-invitaciones-digitales.webp")
      //   no-repeat;
      // background-size: cover;
      // background-position: 190% 0%;
      overflow: hidden;
      border-radius: $margen-min;
    }

    @include cel {
      flex-wrap: wrap;
      .izq {
        padding: $margen-cel;
        text-align: center;
        flex: 1 0 100%;
      }
      .der {
        flex: 1 0 100%;
      }
    }
  }
  .cta{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    p{
      font-size: .8rem;
      color: $acento;
    }
  }
  #digitales {
    color: $primario !important;
    font-weight: 700;
    font-family: "Montserrat Alternates", sans-serif;
  }
</style>
<!-- <script>
  import SplitType from "split-type";
  const encabezado = document.getElementById("nvitePalabras");

  const remplazo = new SplitType(encabezado, {
    types: "chars",
  });

  const timeout = setTimeout(() => {
    eliminarTxt();
  }, 2000);

  function eliminarTxt() {
    var index = 0;
    const inter = setInterval(() => {
      remplazo.chars[index++].classList.add("desapareceH1");

      if (index >= remplazo.chars.length) {
        clearInterval(inter);
        mostrarTxt();
      }
    }, 50);
  }

  function mostrarTxt() {
    const delay = setInterval(() => {
      encabezado.classList.add("apareceH1");
      encabezado.innerText = "Invita";
      clearInterval(delay);
    }, 600);
    clearTimeout(timeout);
  }
</script> -->
