---

import Nav from "./Nav.astro";
import Btn from "./Btn.astro";

interface Props {
  description: string;
}
const { description } = Astro.props;

import { Icon } from "astro-icon/components";
---

<Nav />

<section class="grid contenido">
  <div id="hero">
    <div class="izq anime">
      <div class="bandeja anime">
        <h1>
          <span>Invitaciones digitales</span> personalizadas y elegantes.
        </h1>
        <p set:html={description} />
        <div class="cta">
          <Btn
            liga="#nvitaciones"
            texto="Ver invitaciones"
            claro={false}
            clases="btn-oscuro"
          >
            <Icon name="mdi:chevron-double-down" size={25} />
          </Btn>
          <p>Tu evento inicia con las Nvitaciones</p>
        </div>
        <!-- <Btn liga="#formu" texto="Contáctanos" claro={true} /> -->
      </div>
    </div>

    <div class="der anime">
      <!-- <Picture src={cover} alt="Invitaciones digitales para eventos" />
        -->
      <picture>
        <source
          srcset="/invitaciones-digitales-cover-nvitacines.webp"
          media="(min-width: 479px)"
        />
        <source
          srcset="/invitaciones-digitales-cover-nvitacines-cel.webp"
          media="(max-width: 479px)"
        />
        <img
          src="/invitaciones-digitales-cover-nvitacines.webp"
          alt="nvitaciones digitales para eventos bodas y quince años"
        />
      </picture>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;

  #hero {
    background: rgba($terciario, 0.3);
    border-radius: $radio;
    // border-top-left-radius: $margen-min;
    // border-bottom-left-radius: $margen-min;
    display: flex;
    margin-top: 6rem;
 
    h1 {
      width: 100%;
      color: $primario;
      font-size: clamp(2rem, 3.6vw, 6vw);

      span {
        color: $acento;
        font-weight: normal;
        font-size: clamp(1.5rem, 2.4vw, 3.6vw);
      }
    }
    p {
      margin: 0 0 $margen-cel 0;
    }
    a{
      margin: 0;
    }
    // @extend .sombra;
    .bandeja {
      width: fit-content;
    }
    .der,
    .izq {
      display: flex;
    }
    .izq {
      padding: $margen;
      justify-content: center;
      align-items: center;
      flex: 1 0 50%;
    }
    .der {
      justify-content: center;
      align-items: center;
      flex: 1 0 50%;
      // background: url("/fondo-cover-nviteme-invitaciones-digitales.webp")
      //   no-repeat;
      // background-size: cover;
      // background-position: 190% 0%;

      border-radius: $margen-min;
      picture {
        width: fit-content;
        height: auto;
        img {
          object-fit: contain;
          transform: translateX(1rem);
          @include cel {
            transform: translateY(0);
          }
        }
      }
    }
       
      
      @include cel {
      margin-top: 13rem;
      border-radius: 1.5rem;
      flex-wrap: wrap;
      .izq {
        padding: $margen-cel;
        text-align: center;
        flex: 1 0 100%;
      }
      .der {
        flex: 1 0 100%;
      }
    }
  }
 .cta {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    p {
      font-size: 0.8rem;
      color: $acento;
      margin: 0 !important;
    }
    @include cel {
      justify-content: center;
      p {
        margin: 0 !important;
        font-size: 1rem;
      }
    }
  }
  #digitales {
    color: $primario !important;
    font-weight: 700;
    font-family: "Montserrat Alternates", sans-serif;
  }
</style>
<!-- <script>
  import SplitType from "split-type";
  const encabezado = document.getElementById("nvitePalabras");

  const remplazo = new SplitType(encabezado, {
    types: "chars",
  });

  const timeout = setTimeout(() => {
    eliminarTxt();
  }, 2000);

  function eliminarTxt() {
    var index = 0;
    const inter = setInterval(() => {
      remplazo.chars[index++].classList.add("desapareceH1");

      if (index >= remplazo.chars.length) {
        clearInterval(inter);
        mostrarTxt();
      }
    }, 50);
  }

  function mostrarTxt() {
    const delay = setInterval(() => {
      encabezado.classList.add("apareceH1");
      encabezado.innerText = "Invita";
      clearInterval(delay);
    }, 600);
    clearTimeout(timeout);
  }
</script> -->
