---
import { Icon } from "astro-icon/components";
import Btn from "./Btn.astro";
const url = Astro.url.pathname;

let cartItemsCount = 0;

if (Astro.cookies.has("cartItems")) {
  const cookie = Astro.cookies.get("cartItems")?.value as unknown as string;
  cartItemsCount = JSON.parse(cookie).length;
}
---

<nav id="main-nav">
  <div class="grid contenido">
    <div class="nav-content">
      <a href="/" class="logo-container">
        <img
          src="/nvita-logo.svg"
          alt="Nvita invitaciones digitales"
          id="logo"
        />
      </a>

      <div class="menu-items">
        <ul>
          {
            url === "/terminos-condiciones" ? (
              <li>
                <a href="/" class="selected">
                  Regresar
                </a>
              </li>
            ) : (
              <>
                <li>
                  <a
                    href="/bodas"
                    class={url == "/bodas/" ? "selected" : "none"}
                  >
                    Bodas
                  </a>
                </li>
                <li>
                  <a
                    href="/invitaciones-quince"
                    class={url == "/invitaciones-quince/" ? "selected" : "none"}
                  >
                    XV años
                  </a>
                </li>
                {/* <li>
                  <a
                    href="/invitaciones-pdf"
                    class={url == "/invitaciones-pdf/" ? "selected" : "none"}
                  >
                    Invitaciones PDF
                  </a>
                </li> */}
                {url === "/" ? (
                  <li>
                    <a href="#faq">FAQ</a>
                  </li>
                ) : (
                  ""
                )}
                <li>
                  <Btn
                    liga="https://wa.link/kex8vd"
                    texto="755113 2468"
                    clases="btn-whatsapp panel-home"
                    claro={false}
                    blank={true}
                    rel="nofollow"
                  >
                    <Icon name="whatsapp" size={22} />
                  </Btn>
                </li>
              </>
            )
          }
        </ul>
      </div>
      <li id="carrito">
        <a href="/nvitaciones/cart" aria-label="Ir al carrito">
          <Icon
            name="solar:cart-large-minimalistic-outline"
            width="32"
            height="32"
          />
          <span
            class="count"
            id="cart-count"
            class:list={[{ hidden: cartItemsCount === 0 }]}
          >
            {cartItemsCount > 0 ? cartItemsCount : ""}
          </span>
        </a>
      </li>
    </div>
  </div>
</nav>

<style lang="scss">
  @use "../estilos/_variables.scss" as *;
  .btn-whatsapp {
    margin-bottom: 0;
    background-color: white;
    svg {
      margin-right: 0.4rem;
    }
    @extend .sombra;
  }
  .panel-home {
    margin: 0;
  }

  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    @include cel {
      align-items: center;
    }
  }

  #logo {
    max-width: 300px;
    width: 13vw;
    transition: all 0.3s ease;
    @include cel {
      width: 44vw;
      padding: 0.5rem 0;
    }
  }

  .menu-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $margen-min;

    ul {

      display: flex;
      align-items: center;
      justify-content: center;
      gap: $margen-min;
      margin-top: 5px;
    }
  
    @include cel {
      ul {
        width: 100%;
      }
      ul li:last-child {
       
        margin: 0;
      }
    }
  }

  nav {
    position: fixed;
    z-index: 9999;
    // background-color: $secundario;
    background-color: rgba($fondoGlobal, 1);
    backdrop-filter: blur(8px);
    width: 100%;
    padding: $margen-min $margen-cel;
    transition: all 0.3s ease;
    border-bottom-right-radius: $radio;
    border-bottom-left-radius: $radio;

    &.collapsed {
      background-color: rgba($fondoGlobal, 0.8);
      backdrop-filter: blur(8px);
      padding: 0.5rem 0.4rem;

      #logo {
        width: 8vw;
        @include cel {
          width: 37vw;
        }
      }

      ul {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
      }
      @include cel {
        .nav-content {
          margin: 0;
        }
      }
    }

    &.hide-nav {
      transform: translateY(-100%);
    }
    @include cel {
      padding: $margen-min 0;
      flex-wrap: wrap;
      justify-content: center;
      ul {
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 0.4rem;
        position: fixed;
        left: 0;
        top: 4rem;

        background: linear-gradient(
          0deg,
          rgba($fondoGlobal, 0) 0%,
          rgba($fondoGlobal, 1) 50%
        );
        backdrop-filter: blur(8px);
        border-bottom-right-radius: $radio;
        border-bottom-left-radius: $radio;
      }
      a {
        font-size: 0.9rem;
      }
    }
  }

  ul {
    transition: all 0.3s ease;
    display: flex;
    gap: $margen-min;
  }
  li {
    list-style: none;
    align-items: center;
    a {
      margin-bottom: 0;
    }
    @include cel {
      margin: 0.4rem 1rem;
    }
  }
  #carrito {
    position: relative;
    span {
      background-color: $fondoGlobal;
      font-weight: bold;
      color: $acento;
      border-radius: 50%;
      border: solid 2px $primario;
      aspect-ratio: 1/1;
      width: 1.2rem;
      height: 1.2rem;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -0.5rem;
      right: -0.6rem;

      &.hidden {
        display: none;
      }
    }
    :global(svg) {
      color: $primario;
    }
  }
</style>

<script>
  import { getCartCookie } from "../../src/js/utils";

  function initializeCartCount() {
    const countCartSpan = document.querySelector(
      "#cart-count"
    ) as HTMLSpanElement;
    if (!countCartSpan) return;

    const updateCartValue = () => {
      const cartItems = getCartCookie();
      if (cartItems && cartItems.length > 0) {
        countCartSpan.textContent = cartItems.length.toString();
        countCartSpan.classList.remove("hidden");
      } else {
        countCartSpan.textContent = "";
        countCartSpan.classList.add("hidden");
      }
    };

    // Actualizar cuando cambie el carrito
    document.addEventListener("cart:updated", updateCartValue);

    // Actualizar el valor inicial
    updateCartValue();
  }

  // Inicializar en la carga inicial
  initializeCartCount();

  // Reinicializar después de la navegación manteniendo el valor de la cookie
  document.addEventListener("astro:after-swap", initializeCartCount);

  function initializeNavScroll() {
    const nav = document.getElementById("main-nav");
    let lastScroll = 0;

    window.addEventListener("scroll", () => {
      const currentScroll = window.scrollY;

      if (currentScroll > lastScroll && currentScroll > 100) {
        // Scrolling down - collapse nav
        nav?.classList.add("collapsed");
      } else {
        // Scrolling up - expand nav
        nav?.classList.remove("collapsed");
      }

      lastScroll = currentScroll;
    });
  }

  // Inicializar en la carga inicial
  initializeNavScroll();

  // Reinicializar después de la navegación
  document.addEventListener("astro:page-load", initializeNavScroll);

  function initializeMenuToggle() {
    const menuItems = document.querySelector(".menu-items");

    menuItems?.classList.toggle("active");
  }

  // Inicializar en la carga inicial
  initializeMenuToggle();

  // Reinicializar después de la navegación
  document.addEventListener("astro:page-load", initializeMenuToggle);
</script>
