---
import { Icon } from "astro-icon/components";
import Btn from "./Btn.astro";
const url = Astro.url.pathname;
console.log(url)
---

<nav >
  <a href="/"
    ><img
      src="nvita-logo.svg"
      alt="Nvita invitaciones digitales"
      id="logo"
    /></a
  >
  <ul>
    {
      url === "/terminos-condiciones" ? (
        <li><a href="/" class="selected">Regresar</a></li>
      ) : (
        <li><a href="/bodas" class={url == '/bodas' ? 'selected' : 'none'}>Bodas</a></li>
        <li><a href="/invitaciones-quince" class={url == '/invitaciones-quince' ? 'selected' : 'none'}>15 años</a></li>
        <li><a href="https://nvitaciones.com/#cumples" class={url == '/cumpleanos' ? 'selected' : 'none'}>Cumpleaños</a></li>
        // <li><a href="/eventos" class={url == '/eventos' ? 'selected' : 'none'}>Eventos</a></li>
      )
    }
  </ul>
  <li>
    <Btn
      liga="/panel"
      texto="Mi panel de invitados"
      clases="btn-claro"
      claro={false}
      blank={true}
      rel="nofollow"   
       >
    <Icon name="bag" size={25} />
    </Btn>
  </li>
</nav>

<style lang="scss">
  @import "../estilos/_variables.scss";
  #logo {

    width: 15vw;
    transform: translateY(-0.5rem);
    @include cel {
      width: 70vw;
      padding-top: 1rem;
      transform: translateY(0rem);
    }
  }

  nav {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $margen-cel 0;
    @include cel {
      padding: $margen-min 0;
      flex-wrap: wrap;
      justify-content: center;
      ul {
        justify-content: center;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 0.4rem;
      }
      li {
        margin: 0 0.7rem;
      }
    }
  }
  ul {
    display: flex;
    gap: $margen-min;
  }
  li {
    list-style: none;
  }
</style>
