---


---
<nav>
    <a href="/"><img src="nvite-logo.svg" alt="Nvite invitaciones digitales" id="logo"></a>
    <ul>
        <li><a href="#bodas" class="selected">Bodas</a></li>
        <li>XV a単os</li>
        <li>Cumplea単os</li>
        <li>Eventos</li>
        <!-- <li><a href="/xvanos">XV a単os</a></li>
        <li><a href="/cumples">Cumplea単os</a></li>
        <li><a href="/eventos">Eventos</a></li> -->
    </ul>
</nav>

<style lang="scss">
    @import '../estilos/_variables.scss';
    #logo{
        max-width: 220px;
    }

    nav {
        flex: 1 0 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $margen-cel 0;
        @include cel {
            padding: $margen-min 0;
            flex-wrap:wrap;
            justify-content: center;
            ul{
                justify-content: center;
                margin-top: 1rem;
                flex-wrap:wrap;
                gap:.4rem;
           
            }
            li{
                margin: 0 .7rem;
            }

        }
    }
    ul{
        display: flex;
        gap:$margen-min;
    }
    li{
        list-style: none;
    }
</style>