---
import { NvitaAuth } from "../../firebase/config";
import Layout from "../../layouts/panelInvitados.astro";
const usuario = NvitaAuth.currentUser?.uid;
const usuarioEmail = NvitaAuth.currentUser?.email;
import { db, Invitados, Usuario } from 'astro:db';
const invitadosData = await db.select().from(Usuario);
console.log(invitadosData);
---

<Layout title="Panel de administración">
    <h2>
        {usuario && <p>Bienvenido {usuarioEmail}</p>}
    </h2>
<h1>Panel de administración</h1>
<li>Formulario de ingreso</li>
<li>coneccion a bd</li>
<li>UI</li>
<li>Mostrar invitados, formulario de agregarlos con un icono +</li>
<li>Cada invitado: Nombre, pase, mesa,  estatus (confirmado) si es invitación individual, grupal o familiar</li>
<li>Cada invitado con icono de editar y borrar</li>
<li>Cada invitado deberá poder confirmar desde la invitacion </li>
<li>Cada usurio de invitación podrá tambien editar estatus de confirmación</li>
</Layout>