---
import Layout from "../../layouts/panelInvitados.astro";
---

<Layout title="Registro de usuario - Panel de administraci칩n">
  <h1>Registrate en Nvita</h1>
  <form data-authForm action="../api/registro.json">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Agrega un email valido"
    />
    <label for="password">Contase침a</label>
    <input
      type="password"
      name="password"
      id="password"
      autocomplete="password"
      placeholder="Agrega una contrase침치 segura"
    />
    <button>Registrate</button>
  </form>
  <p>Ya tienes cuenta? <a href="/panel/ingresar">Ingresar</a></p>
</Layout>
