//paleta
@use '../../../paletas/quince/base.scss' as *;
@use '../../../paletas/quince/otono.scss' as *;
@use '../../../paletas/quince/invierno.scss' as *;

//fuentes
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");



:root[data-paleta="base"] {
  @include base();
}
:root[data-paleta="otono"] {
  @include otono();
}
:root[data-paleta="invierno"] {
  @include invierno();
}


:root[data-paleta="invierno"] {
  @include invierno();
}

//media query
$cel: 479px;
$nocel: 479px;
$tableta: 768px;
$tableta-land: 1024px;
$hd:1600px;
$hdplus:1990px;


//extra
$radio: .8rem;
$margen: 4rem;
$margen-top: 8rem;
$radio-cel: 0.5rem;
$margen-cel: 2rem;
$margen-min: 1rem;
$margen-top-cel: 6rem;

// variable de css para rutas 
$urlPatron: url("/bodas/patron-fondo.webp");
// tambien cambiar la portada o cover en el archivo de layout para OpenGraph (la imagen que aparece al compartir por whatsapp)
$urlCover: url("../../assets/quince/quincePlus/cover.webp");
$encabezados: "Sacramento";
$txt: "Merriweather";


@mixin cel {
  @media (max-width: #{$cel}) {
    @content;
  }
}

@mixin nocel {
  @media (min-width: #{$nocel}) {
    @content;
  }
}

@mixin tableta_land {
  @media (min-width: #{$tableta-land}) and (max-width: #{$hd - 1px}) {
    @content;
  }
}

@mixin tableta {
  @media (min-width: #{$tableta - 1px}) and (max-width: #{$tableta-land - 1px}) {
    @content;
  }
}

@mixin hd {
  @media (min-width: #{$hd}) and (max-width: #{$hdplus}) {
    @content;
  }
}

@mixin hdplus {
  @media (min-width: #{$hdplus}) {
    @content;
  }
}
// animaciones 
.anime{
  transition: all .5s ease-in-out;
  }

  @keyframes slide-in {
    0% { max-height:0; }
    // por si tenemos en auto la altura
    100% { max-height:200rem; } 
  }




// intentar con min
$margen-riel: calc((100% - (100% - 5rem)) / 2 );

.sombra{
  box-shadow: 0px 1px 30px 6px var(--sombra);
}
