@use "variablesquince.scss" as *;

#hero {
  display: grid;
  position: relative;
  grid-template-rows: 2fr 1fr 20%;
  grid-template-columns: 1fr 10% 1fr;
  height: 100dvh;

  .laimagen {
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include cel {
      grid-column: 1 / -1;
      grid-row: 1 / 7;
    }
  }

  .bandeja {
    @extend .sombra;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    z-index: 2;
    margin: $margen 0;
    background: $urlPatron, var(--fondoBurn);
    background-blend-mode: color-burn;
    text-align: center;
    color: var(--primario);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem, 1vw, 3vw);
    position: relative;
    padding: $margen-top $margen-min;
    h1 {
      color: var(--acento) !important;
      padding: $margen-cel 0 0;
    }
    span {
      padding-bottom: $margen-min;
      margin-bottom: $margen-min;
    }
    #pases {
      // display: none;
      position: absolute;
      background-color: var(--acento);
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0%);
      padding: $margen-min;
      color: white;
    }
    #NumeroPases {
      font-size: clamp(1.5rem, 2vw, 3rem);
    }
    @include cel {
      grid-column: 2 / span 1;
      grid-row: 6 / -1;
      z-index: 3;
      padding: $margen-cel $margen-cel $margen-cel $margen-cel;
      max-height: content;
      height: auto !important;
      transform: translateY(-20%);
    }
    .centro {
      position: relative;
      padding: $margen-cel 0;
      // border-bottom: solid 1px var(--acento);
      .familia{
        font-size: clamp(1.5rem, 2vw, 3rem);
        margin-bottom: $margen-cel;
        padding-bottom: $margen-cel;
        // border-bottom: solid 1px var(--acento);
      }
  
    }
  }

  @include cel {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 10% 1fr 10%;
    height: auto !important;
  
    margin-bottom: -40%;
    //estoy teniendo mucho espacio debajo 
    
  }
}
