
@mixin base() {
    --primario: #292e5a;
    --secundario: #e65288;
    --terciario: #fef1f1;
    --acento: #de8080;
    --gris: #f2eee7;
    --fondo: #eee3e3;
    --sombra: rgba(122, 99, 64, 0.5);
  }
  
