


  @mixin invierno() {
    --primario: #4f6d7a;
    --secundario: #6ea4ba;
    --terciario: #E8DAB2;
    --acento: #DD6E42;
    --gris: #e1e8ec;
    --fondo: #cdd5d5;
    --sombra: rgba(122, 132, 140, 0.5);
    --fondoBurn: #fef1f1;
  }
  