@mixin otono() {
    --primario: #6D6875;
    --secundario: #B5838D;
    --terciario: #e3c2c3;
    --acento: #e68e78;
    --gris: #f5eedc;
    --fondo: #ffdac6;
    --sombra: rgba(143, 133, 117, 0.5);
  }
  