@mixin otono() {
    --primario: #645d6d;
    --secundario: #B5838D;
    --terciario: #d3c5c5;
    --acento: #e68e78;
    --gris: #eadbd3;
    --fondo: #ffeee5;
    --sombra: rgba(145, 139, 132, 0.317);
    --fondoBurn: #fef1f1;
  }
  