---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../estilos/globales.scss';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={title} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>Invitaciones digitales - bodas, 15 años, cumpleaños y más.</title>
	</head>
	<body>
		<slot />
	</body>
	<script src="../js/reserva.js"></script>
</html>