---
interface Props {
  fecha: Date;
}

const { fecha } = Astro.props;
---

<div id="contador">
  <div class="bande">
    <p id="falta">Solo faltan:</p>
    <div id="numero"></div>
    <p id="dias">días</p>
  </div>
</div>
<h3>para nuestra boda.</h3>

<style lang="scss">
  @use "../../estilos/bodas/_variables.scss" as *;

  h3 {
    color: var(--primario);
    font-family: $garigol, serif;
    text-align: center;
    margin-top: $margen-cel;
    font-size: clamp(1.8rem, 2vw, 3rem);
  }
  #dias {
    transform: translateY(-60%);
  }
  #contador {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secundario);
    gap: 0.7rem;
    border: .5px solid var(--acento);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0%;
      right: 0px;
      transform: translate(-50%, 50%);
      width: 130px;
      height: 130px;
      transform-origin: center;
      rotate: 180deg;
      background: url("/bodas/esquina-floral-1.jpg")
        no-repeat center;
      background-size: contain;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0px;
      transform: translate(-50%, 50%);
      width: 130px;
      height: 130px;
      background: url("/bodas/esquina-floral-1.jpg")
        no-repeat center;
      background-size: contain;
    }
    &:before,
    &:after {
      @include cel {
        width: 70px;
        height: 70px;
      }
    }
  }
  .bande {
    text-align: center;
  }
  #numero {
    margin-top: $margen-cel;
    font-size: clamp(6.5rem, 10.5vw, 14rem);
    color: var(--acento);
    font-family: $encabezados, serif;
  }
  p:first-child {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--acento);
    border: solid .5px var(--secundario);
    background: url('./textuta-bg-2.webp') repeat;
    padding: $margen-min;
  }
  p {
    font-family: $encabezados, serif;
    color: var(--primario);
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    margin: 0;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" type="text/javascript"></script>
<script define:vars={{ fecha }}>


  const countDownDate = new Date(fecha).getTime();
  // Update the count down every 1 second
  const cuenta = function () {
    // Get today's date and time
    const now = new Date().getTime();

    // Find the distance between now and the count down date
    const distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    const days = Math.floor(distance / (1000 * 60 * 60 * 24));

    // Output the result in an element with id="demo"
    document.getElementById("numero").innerHTML = days;

    // If the count down is over, write some text
    if (distance < 0) {
      document.getElementById("numero").innerHTML = "0";
      document.getElementById("demo").innerHTML =
        "Gracias por ser parte de nuestra boda";
    }

    if (days == 1) {
      document.getElementById("dias").innerHTML = "Dia";
      document.getElementById("falta").innerHTML = "Solo falta";
    }
  };
  cuenta();
</script>
