---
interface Props {
  encabezado: string;
  vestimenta?: string;
  lista?: Array<any>;
}
const { lista, encabezado, vestimenta } = Astro.props;

import { Image } from "astro:assets";
import divisor from "../../assets/bodas/imas/divisor-floral-plano1.svg";
import { Icon } from "astro-icon/components";
---

<div id="detalles">
  <div class="conte">
    {vestimenta ? <Icon name="mdi:clothes-hanger" size={200} />  : ""}
    <h2>{encabezado}</h2>
    <Image src={divisor} alt="vestimenta" />
    <ul>
      {
        lista ? (
          lista.map((item) => <li>{item}</li>)
        ) : (
          
          <span id="vestimenta">{vestimenta}</span>
        )
      }
    </ul>
  </div>
</div>

