---
import { Image } from "astro:assets";
const imas =  await Astro.glob("../../assets/bodas/nvitaPlus/gale/*").then(images => {
    return images.map(foto => foto.default);
});
 const num = Number(imas.length);
---
<div class="gale">

  {
   
   imas.map((ima) => (
       <Image src={ima} width={500} alt="galeria" />
   ))
  }
</div>

<style lang="scss" define:vars={num}>
  @use 'sass:math';
  $numero : var(--num);
  @import "../../estilos/bodas/_variables.scss";

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: $acento $fondo;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $fondo;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: $acento;
  }

  *::-webkit-scrollbar-track:active {
    background-color: $fondo;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $acento;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: $acento;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: $fondo;
  }
  .gale {
    margin: 0rem 0 $margen 0;
  }

  $min : -16deg;
  $max : 16deg;
  @for $i from 1 through 10 {
    .gale img:nth-child(#{$i}) {
      // transform:rotate(random($max - $min) + $min);
      transform:rotate(min(max((math.random() * 2 - 1) * math.random(math.div($max, 1deg)) * 1deg, -$max), $max));
    }
    
  }

  .gale img {
    // height: 50vh;
    // width: 100%;
    object-fit: cover;
    aspect-ratio: 6/5;
    border: solid 15px white;
    @extend .sombra;
    @include cel {
      aspect-ratio: 5/5;
    }
  }
  .gale  {
    overflow-x: auto;
    overflow-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;

    padding:$margen 0;

    @include cel {
      grid-auto-columns: 80%;
    }
  }
</style>
