---
interface Props {
  listado: Array<any>;
}
const { listado } = Astro.props;
---

<section class="grid contenido" >
    <ol>
      {
        listado.map((item, index) => (
          <li>
            <h4>{item.titulo}</h4>
            <p>{item.lugar}</p>
            <p>{item.hora}</p>
          </li>
        ))
      }
    </ol>

</section>

<style lang="scss">
  @import "../../estilos/bodas/_variables.scss";
  ol{
    text-align: center;
    padding-bottom: $margen;
    font-size: clamp(1.3rem, 2vw, 3rem);
    
    h4{
      color: $acento;
      font-family: $garigol, serif;
    }
    p{
      color: white;
      margin-bottom: none;
    }
    li{
     margin: $margen 0;
   }

  }

  
</style>
<!-- 
<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const li = gsap.utils.toArray(" ol li");
  const riel = document.querySelector("#riel");

  gsap.to(li, {
    xPercent: -100 * (li.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: riel,
      pin: true,
      start: "center center center",
      end: "+=3000",
      scrub: 1,
        snap: {
          snapTo: 1 / (li.length - 1),
          duration: 0.7,
          delay: 0.6,
          ease: "power1.inOut",
        },
      markers: true,
    },
  });
</script> -->
