---
interface Props {
  mamaNovia: string;
  papaNovia: string;
  mamaNovio: string;
  papaNovio: string;
}

const { mamaNovia, papaNovia, mamaNovio, papaNovio } = Astro.props;
---
<div id="padres">

  <div class="bande" >
    <h2>Nuestros Padres</h2>
    <div class="conte">
      <ul class="padre">
        <hr />
        <h3>Novia</h3>
        <li>{mamaNovia}</li>
        <li>{papaNovia}</li>
      </ul>
      <ul class="padre">
        <hr />
        <h3>Novio</h3>
        <li>{mamaNovio}</li>
        <li>{papaNovio}</li>
      </ul>
    </div>
  </div>
  
</div>
