@mixin base() {
    --primario: #243670;
    --primario-rgb: 36, 54, 112;
    --secundario: #e5989b;
    --secundario-rgb: 229, 152, 155;
    --terciario: #f7ede2;
    --terciario-rgb: 247, 237, 226;
    --acento: #af7e61;
    --acento-rgb: 175, 126, 97;
    --gris: #f5ebe0;
    --gris-rgb: 245, 235, 224;
    --fondo: #faf9f9;
    --fondo-rgb: 250, 249, 249;
    --sombra: rgba(211, 196, 185, 0.5);
    --sombra-rgb: 211, 196, 185;
    --fondoBurn: #fff1e6;
    --fondoBurn-rgb: 255, 241, 230;
  }

