@mixin otono() {
    --primario: #374050;
    --secundario: #6b8ba5;
    --terciario: #d3c5c5;
    --acento: #e68e78;
    --gris: #eadbd3;
    --fondo: #f1e8e3;
    --sombra: rgba(145, 139, 132, 0.317);
    --fondoBurn: #f2e9e9;
  }
  