@mixin primavera() {
    --primario: #485369;
    --primario-rgb: 72, 83, 105;
    --secundario: #c68f8e;
    --secundario-rgb: 198, 143, 142;
    --terciario: #f8f9fa;
    --terciario-rgb: 248, 249, 250;
    --acento: #e8a598;
    --acento-rgb: 232, 165, 152;
    --gris: #fff;
    --gris-rgb: 255, 255, 255;
    --fondo: #fff9f5;
    --fondo-rgb: 255, 249, 245;
    --sombra: rgba(194, 213, 219, 0.4);
    --sombra-rgb: 194, 213, 219;
    --fondoBurn: #fdf6f0;
    --fondoBurn-rgb: 253, 246, 240;
}