@mixin verano() {
    --primario: #355070;
    --secundario: #6d597a;
    --terciario: #b56576;
    --acento: #e56b6f;
    --gris: #e0b1cb;
    --fondo: #f7ede2;
    --sombra: rgba(149, 115, 115, 0.317);
    --fondoBurn: #f9ecec;
  }